.neptune
.ipynb_checkpoints
__pycache__
raw_data
processed_data
plots
models
feature_selection
data
response_matrix
calib
FCDNN/saved_networks/
FCDNN/JSYSU-1/models_saved
FCDNN/JSYSU-1/results
FCDNN/JSYSU-2/models_saved
FCDNN/JSYSU-2/results
FCDNN/JSYSU-3/models_saved
FCDNN/JSYSU-3/results
FCDNN/JSYSU-4/models_saved
FCDNN/JSYSU-4/results
FCDNN/JSYSU-5/models_saved
FCDNN/JSYSU-5/results
FCDNN/JSYSU-6/models_saved
FCDNN/JSYSU-6/results
FCDNN/JSYSU-7/models_saved
FCDNN/JSYSU-7/results
FCDNN/.neptune
FCDNN/.ipynb_checkpoints