.neptune
.ipynb_checkpoints
__pycache__
raw_data
processed_data
plots
models
feature_selection
data
response_matrix
calib
FCDNN/saved_networks/
FCDNN/JSYSU-*/models_saved
FCDNN/JSYSU-*/results
FCDNN/.neptune
FCDNN/.ipynb_checkpoints